<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>933</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>CoursesTabBarIcon</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Courses</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Courses</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>AssignmentsTabBarIcon</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Assignments</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Assignments</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>LoopMailTabBarIcon</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>LoopMail</string>
			<key>UIApplicationShortcutItemType</key>
			<string>LoopMail</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>NewsTabBarIcon</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>News</string>
			<key>UIApplicationShortcutItemType</key>
			<string>News</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>LockerTabBarIcon</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Locker</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Locker</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
