html, body {
    font-size: 16px;
    margin: 0.5rem;
}

h1.subject {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
}

.sender {
    color: #AAA;
    font-weight: 300;
}

.user {
    display: inline-block;
    font-size: 1rem;
    padding: 2px 16px;
    border-radius: 16px;
    background: rgba(26, 188, 156, 0.25);
    color: rgba(26, 188, 156, 1.0);
}

hr.divider {
    border: none;
    border: 0.5px solid rgba(0, 0, 0, 0.1
    );
    margin: 1rem 0 2rem 0;
}
